.skills
{
    @include sm-min
    {
        margin-bottom: $gap / 2 * 3;
        padding: $gap / 2;
    }
    @include sm
    {
        padding: gap;
    }


    &__container
    {
        display: grid;

        margin-bottom: $gap;
        // grid-template-columns: repeat(4, 1fr);
        // gap: $gap / 2;

        grid-auto-rows: calc(33.33vh - 4 * 10px / 3);
        // grid-template-areas: "a1 a1 a2 a3" "a4 a5 a5 a6" "a7 a8 a9 a6";
        @include lg-min
        {
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas: 'a1 a1 a2 a3' 'a4 a5 a5 a6' 'a7 a8 a9 a6';
            gap: $gap / 2;
        }
        @include lg-md
        {
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: 'a1 a1 a2' 'a3 a4 a4' 'a5 a5 a6' 'a7 a8 a6' 'a7 a9 a9';
            gap: $gap / 2;
        }
        @include md-sm
        {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: 'a1 a2' 'a3 a2' 'a4 a4' 'a5 a6' 'a5 a7' 'a8 a9';
            gap: $gap / 2;
        }
        @include sm
        {
            margin: $gap;

            grid-template-columns: 1fr;
            grid-template-areas: 'a1' 'a2' 'a3' 'a4' 'a5' 'a6' 'a7' 'a8' 'a9';
            gap: $gap;
        }

        @media(max-height: 640px)
        {
            grid-auto-rows: 200px;
        }
    }
    @media(min-height: 641px)
    {
        grid-auto-rows: calc(33.333vh - 4 * 10px /3);
    }
    &__actions
    {
        display: flex;

        justify-content: center;
    }
}











